:root {
  --sdpi-bgcolor: #2d2d2d;
  --sdpi-background: #3d3d3d;
  --sdpi-color: #d8d8d8;
  --sdpi-bordercolor: #3a3a3a;
  --sdpi-buttonbordercolor: #969696;
  --sdpi-borderradius: 0px;
  --sdpi-width: 224px;
  --sdpi-fontweight: 600;
  --sdpi-letterspacing: 0.25pt;
}

html {
  --sdpi-bgcolor: #2d2d2d;
  --sdpi-background: #3d3d3d;
  --sdpi-color: #d8d8d8;
  --sdpi-bordercolor: #3a3a3a;
  --sdpi-buttonbordercolor: #969696;
  --sdpi-borderradius: 0px;
  --sdpi-width: 224px;
  --sdpi-fontweight: 600;
  --sdpi-letterspacing: 0.25pt;
  height: 100%;
  width: 100%;
  overflow: hidden;
  touch-action: none;
}
html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 9pt;
  background-color: var(--sdpi-bgcolor);
  color: #9a9a9a;
}
#identifer_ui_input_type {
  display: flex;
  align-items: center;
  height: 28px;
}
/*
 * Window Input Styles
 */
.window-dropdown-select-container {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: var(--sdpi-letterspacing);
  /* custom  */
  flex-grow: 1;
  height: 28px;
  margin: 0;
  padding: 0;
  min-width: 0;
  width: 100%;
  background: var(--sdpi-background);
  color: var(--sdpi-color);
}
.window-dropdown-select-container option {
  font-size: 11px;
  font-style: normal;
  font-weight: var(--sdpi-fontweight);
  letter-spacing: var(--sdpi-letterspacing);
  background: var(--sdpi-background);
  color: var(--sdpi-color);
  min-height: 24px !important;
  height: 24px !important;
  padding: 3px 6px !important;
}
.window-dropdown-select-container:focus {
  outline: none;
}
.window-dropdown-select-container:disabled {
  color: #fd9494;
  font-style: italic;
}
#identifier_text {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: var(--sdpi-letterspacing);
  /* custom  */
  flex-grow: 1;
  height: 28px;
  margin: 0;
  padding: 0;
  padding-left: 2px;
  min-width: 0;
  width: 100%;
  background: var(--sdpi-background);
  color: var(--sdpi-color);
  outline: none;
  box-shadow: none;
  border: none;
}