:root {
  --sdpi-bgcolor: #2d2d2d;
  --sdpi-background: #3d3d3d;
  --sdpi-color: #d8d8d8;
  --sdpi-bordercolor: #3a3a3a;
  --sdpi-buttonbordercolor: #969696;
  --sdpi-borderradius: 0px;
  --sdpi-width: 224px;
  --sdpi-fontweight: 600;
  --sdpi-letterspacing: -0.25pt;
}

html {
  --sdpi-bgcolor: #2d2d2d;
  --sdpi-background: #3d3d3d;
  --sdpi-color: #d8d8d8;
  --sdpi-bordercolor: #3a3a3a;
  --sdpi-buttonbordercolor: #969696;
  --sdpi-borderradius: 0px;
  --sdpi-width: 224px;
  --sdpi-fontweight: 600;
  --sdpi-letterspacing: -0.25pt;
  height: 100%;
  width: 100%;
  overflow: hidden;
  touch-action: none;
}
.window-dropdown-select-container {
  font-size: 10pt;
  font-weight: var(--sdpi-fontweight);
  letter-spacing: var(--sdpi-letterspacing);
  /* custom  */
  flex-grow: 1;
  min-height: 26px;
  margin: 0;
  padding: 0;
  min-width: 0;
  margin-top: 10px;
}
.window-dropdown-select-container option {
  font-size: 11px;
  font-style: normal;
  /* letter-spacing: inherit; */
  /* font-weight: 100; */
  /* font-size: 10pt; */
  font-weight: var(--sdpi-fontweight);
  letter-spacing: var(--sdpi-letterspacing);
  color: var(--sdpi-color);
  height: 1.5em;
  padding: 4px;
  &:focus {
    outline: none;
  }
  &:disabled {
    color: #fd9494;
    font-style: italic;
  }
}
